
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
}

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  color: #333;
  padding: 100px;
  text-align: center;
}
        